#about-page {
  #usp {
    padding: 100px 0;

    .usp-elem .h-box{
      width: 50px;
      height: 8px;
      background: #F27123;
      margin: 0 0 20px;
    }
  }
}

#page-header {
  .page-iln {
    background: none;
    max-width: 600px;
    width: auto;
    height: auto;
    padding: 0 20px;
    margin-top: 110px;
    margin-bottom: 0;
  }

  h2 {
    max-width: 800px;
    margin-bottom: 200px;
  }
}

.video-frame {
  height: 700px;
  overflow: hidden;
}

#about-page .feature-img {
  padding: 0;
}

#page-img {
  position: relative;
  overflow: hidden;
  margin: 200px auto;

  .img-container {
    height: 600px;
    max-width: 1100px;
    margin: 0 auto;
  }

  .img-block {
    position: absolute;
  }
  img {
    margin: 0 auto;
  }
}

#about-intro {
  margin-bottom: 100px;
  .text-content {
    max-width: 750px;
    margin: 0 auto;
  }

  h3 {
    font-weight: 700;
    margin-bottom: 20px;
  }
  h4 {
    color: $sub-text-color;
    letter-spacing: -0.04rem;
    line-height: 1.3;
    margin-bottom: 20px;
  }
}

#ceo-word {
  margin-top: 100px;
  margin-bottom: 300px;
  .content-box {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 0 160px;
    border-bottom: 1px solid gray;
  }
  h3 {
    font-weight: 700;
    max-width: 800px;
    margin-bottom: 40px;
  }

  .quote-sign {
    color: $sub-text-color;
    font-size: 1.618rem;
    font-weight: 700;
    margin-bottom: 0;
  }

  .metric-box {
    height: 200px;
    width: 200px;
    padding: 20px;
    .number {
      font-size: 2.618rem;
      font-weight: bold;
      margin-bottom: 15px;
      .units {
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
    .title {
      font-weight: bold;
      max-width: 130px;
      line-height: 1.3;
    }

    &.box-1 {
      background: darkgray;
      position: absolute;
      right: 200px;
      bottom: 0;
    }
    &.box-2 {
      background: lightslategray;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}



#team {

  .row {
    position: relative;
    max-width: 920px;
    margin: 0 auto;
  }
  h2 {
    font-size: 2.618rem;
    font-weight: 700;
    position: absolute;
    top: 110px;
    left: 35px;
  }
  .spacer {
    height: 150px;
  }
  .team-member {
    background: #EAEAEA;
    margin: 40px 20px;
    height: 380px;
    width: 270px;
  }

  .careers-cta {
    width: 215px;
    position: absolute;
    right: 0px;
    bottom: 60px;
    h3 {
      font-size: 1.618rem;
      font-weight: 700;
      margin-bottom: 30px;
    }
  }
}