
  #usp {
    padding: 100px 0;

    .usp-elem .h-box{
      width: 50px;
      height: 8px;
      background: #F27123;
      margin: 0 0 20px;
      &:nth-of-type(2) {
        background: $secondary-color;
      }
    }
  }

  #about-page .bg-feature.video-block {
    background: none;
    min-height: 650px;
  }

#page-header {
  .page-iln {
    background: none;
    max-width: 600px;
    width: auto;
    height: auto;
    padding: 0 20px;
    margin-top: 110px;
    margin-bottom: 0;
  }

  h2 {
    max-width: 600px;
    margin-bottom: 200px;
    font-size: 2.618rem;
  }
}

.video-frame {
  height: 700px;
  overflow: hidden;
}

#about-page .feature-img {
  padding: 0;
}

#page-img {
  position: relative;
  overflow: hidden;
  margin: 200px auto;

  .img-container {
    height: 600px;
    max-width: 1100px;
    margin: 0 auto;
  }

  .img-block {
    position: absolute;
  }
  img {
    margin: 0 auto;
  }
}

#about-intro {
  margin-bottom: 100px;
  .text-content {
    max-width: 750px;
    margin: 0 auto;
  }

  h3 {
    font-weight: 700;
    margin-bottom: 20px;
  }

  h4.intro-head {
    font-weight: bold;
    color: $std-black;
    font-size: 1.618rem;
    line-height: 1.4;
    margin-bottom: 30px;
  }
  h4 {
    color: $sub-text-color;
    letter-spacing: -0.04rem;
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 1.3rem;
  }
}

#ceo-word {
  margin-top: 100px;
  margin-bottom: 300px;
  .content-box {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 0 160px;
    border-bottom: 1px solid gray;

    .ceo-word-head {
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.03rem;
    }
  }
  h3 {
    font-weight: 300;
    max-width: 800px;
    font-size: 1.618rem;
    margin-bottom: 40px;
    line-height: 1.5;
    color: $main-black;
  }

  .quote-sign {
    color: $main-black;
    font-size: 1.618rem;
    font-weight: 700;
    margin-bottom: 0;
  }

  .metric-box {
    height: 200px;
    width: 200px;
    padding: 20px;
    .number {
      font-size: 2.618rem;
      font-weight: bold;
      margin-bottom: 15px;
      .units {
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
    .title {
      font-weight: bold;
      max-width: 130px;
      line-height: 1.3;
    }

    &.box-1 {
      background: $tertiary-color;
      position: absolute;
      right: 200px;
      bottom: 0;
    }
    &.box-2 {
      background: $secondary-color;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}



#team {
  .careers-cta {
    padding: 100px 0;
    text-align: center;
    margin: 0 auto;
    h3 {
      font-weight: 700;
    }
  }

  h2 {
    margin-bottom: 60px;
  }

  .row {
    position: relative;

    margin: 0 auto;
  }

  .spacer {
    height: 150px;
  }
  .column {
    padding: 0 5px;
  }
  .team-member {
    position: relative;
    background: #ababab;
    margin-bottom: 10px;
    width: 100%;
    //background-image: url("/media/images/team/temp.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;
    &:hover {
      filter:grayscale(0);
      .teamcard-overlay {
        background: rgba(0, 0, 0, 0.28);
      }
    }

  }
  .team-member:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .teamcard-overlay {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    transition: all 0.2s ease-in-out;
    padding: 20px;
    .text {
      position: absolute;
      bottom: 20px;
    }

    h4 {
      font-size: 1.618rem;
      font-weight: 700;
      margin-bottom: -4px;
      color: rgba(255, 255, 255, 0.91);
    }
    p {
      font-sise: 1rem;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.91);
      margin-bottom: 0;
    }

  }

}

  #clients {
    padding: 200px 0;
    background: #F8F8F8;

    .header {
      margin-bottom: 100px;
      .header-text {
        p {
          line-height: 1.4;
          max-width: 600px;
          font-size: 1rem;
        }
      }


    }


    .quote-list {
      .h-box {
        margin-left: 0;
      }
      .quote-block {
        padding: 50px 0;
      }
      h3 {
        font-size: 1.618rem;
        line-height: 1.4;
      }
      .sign {
        //color: $sgrid-color;
        font-weight: 700;
        margin-top: 40px;
        font-size: 1.618rem;
        p {
          margin-bottom: 5px;
        }
      }
    }
  }

  #clients-logos {
    margin: 100px 0;
    h3 {
      font-size: 1.618rem;
      font-weight: 700;
      max-width: 800px;
      line-height: 1.5;
      margin: 0 auto;
    }
  }