#page-head {
  margin-bottom: 50px;
  h2 {
    margin-bottom: 10px;
  }
  p {
    font-size: 1rem;
    max-width: 600px;
    margin-bottom: 50px;
  }
}

#services-page .bg-feature {
  h3 {
    font-size: 1.618rem;
  }
}

#job-cta {
  margin-top: 50px;
  .intro-text {
    margin-bottom: 50px;
    p {
      font-size: 1.618rem;
    }
  }

  .job-feature {
    margin-bottom: 40px;
    h3 {
      font-size: 1.618rem;
      font-weight: 700;
    }

    p {
      max-width: 440px;
    }
  }

  .cta-text {
    margin: 100px 0;
    h4 {
      max-width: 600px;
      margin: 0 auto 20px;

    }
  }
}