#job-cta {
  .intro-text {
    margin-bottom: 50px;
    p {
      font-size: 1.618rem;
    }
  }

  .job-feature {
    margin-bottom: 40px;
    h3 {
      font-size: 1.618rem;
      font-weight: 700;
    }

    p {
      max-width: 440px;
    }
  }
}