#projects-page {
  #page-header {
    .page-iln {
      transform: scale(0.8);
      //margin: 123px auto 50px;
    }
  }
}

#projects {
  h2 {
    margin-bottom: 60px;
  }
  .project-block {
    margin-bottom: 100px;
  }
  .project-text {
    padding: 30px 30px 30px 50px;
    border-left: 10px solid $sgrid-color;
    h3 {
      font-size: 1.618rem;
      font-weight: 700;
    }
    h4 {
      font-size: 1rem;
      color: grey;
      margin-top: 30px;
      font-weight: 700;
    }
    .details {
      color: #9a9a9a;
    }
  }

  .project-img {
    .bg-feature {
      background: none;
      min-height: 360px;
      img {
        min-height: 100%
      }
    }
  }
}

#clients {
  padding: 200px 0;
  background: #F8F8F8;

  .header {
    margin-bottom: 100px;
    .header-text {
      

      p {
        max-width: 880px;
        font-size: 1.618rem;
      }
    }


  }
  .quote-list {
    .quote-block {
      padding: 50px 0;
    }
    h3 {
      font-size: 1.618rem;
      line-height: 1.4;
    }
    .sign {
      //color: $sgrid-color;
      font-weight: 700;
      margin-top: 40px;
      font-size: 1.618rem;
      p {
        margin-bottom: 5px;
      }
    }
  }
}

#clients-logos {
  h3 {
    font-size: 1.618rem;
    font-weight: 700;
    max-width: 800px;
    line-height: 1.5;
    margin: 0 auto;
  }
}
