#services-page {
  #feat-img-center .feature-img{
    max-width: 100%;
    padding: 0;
    background: none;

    .image-frame {
      min-height: 500px;
    }
  }
}


#philosophy {
  padding-top: 200px;
  .metric-container {
    padding: 0;
    position: relative;
  }

  .metric-boxes {
    height: 100%;
    //mobile
    //min-height: 600px;
    .row {
      height: 50%;
    }
  }

  .metric-box {

    height: 200px;
    width: 200px;
    padding: 20px;
    .number {
      font-size: 2.618rem;
      font-weight: bold;
      margin-bottom: 15px;
      .units {
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
    .title {
      font-weight: bold;
      max-width: 130px;
      line-height: 1.3;
    }

    &.box-1 {
      background: $primary-gradient;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &.box-2 {
      background: $reverse-gradient;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .text-content {
    h2 {
      font-size: 2.618rem;
    }
  }
}

.service-segment {
  .icon {
    height: 100px;
    margin: 0px auto 40px;
    width: 100px;

    img {
      height: 100px;
    }
  }
  .text-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  h2 {
    font-size: 2.618rem;
  }

  .pointers-list {
    margin: 30px 0 100px;
    .pointer {
      .bullet {
        position: relative;
        left: 20px;
        border-left: 5px solid $sgrid-color;
      }

      margin: 20px 0;
      .row {
        padding: 0 20px;
      }
    }
  }

  .feature-section {
    background: #F8F8F8;
    min-height: 420px;
  }
}

#solar {
  .feature-section {
    .container {
      padding: 100px 20px;
    }
    h3 {
      font-size: 1.618rem;
      font-weight: bold;
    }
    .text-btn-sm {
      display: inline-block;
      margin-top: 30px;
    }
  }
}

#innovation {
.head-text {
  margin-bottom: 40px;

  p {
    font-size: 1.618rem;
    max-width: 800px;
  }
}
  .product {
    h3 {
      font-size: 1.618rem;
      font-weight: 700;
    }
  }
}
















