.animated {
  animation-duration: 1s;
  animation-fill-mode: both;

}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translate3d(0, -15%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

.fadeDown {
  -webkit-animation-name: fadeDown;
  -moz-animation-name: fadeDown;
  -o-animation-name: fadeDown;
  animation-name: fadeDown;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}



//

#page-img {
  position: relative;
  overflow: hidden;

  margin: 0 auto;

  .img-container {
    position: relative;
    height: 600px;
    max-width: 1100px;
    margin: 200px auto;
  }

  .img-block {
    position: absolute;

  }
  img {
    margin: 0 auto;
  }
}