html {
  font-size: $base-font-size;
}

body {
  font-family: Heebo, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $main-black;
  font-size: 1rem;
}

html,body {
  overflow-x: hidden;
}

h2 {
  font-size: 4.236rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.03em;
  margin-bottom: 30px;
}

h3 {
  font-size: 2.618rem;
  letter-spacing: -0.025em;
}

h4 {
  font-size: 1.618rem;
  line-height: 1.5;
  letter-spacing: -0.025em;
  color: $sub-text-color;
}

h5 {
  font-size: 1rem;
  color: #7B7B7B;
}

.mobile-only {
  display: none;
}

.highlight {
  color: $sgrid-color !important;
}

section {
  margin: 200px 0;
}

#page-header {
  margin: 100px 0;
  .page-iln {
    width: 400px;
    height: 200px;
    background: $sgrid-color;
    margin: 0 auto 80px;
  }

  h2 {
    max-width: 700px;
    margin: 0 auto;
  }
}

#usp {
  margin: 200px 0;
  .text-content {
    max-width: 1000px;
    margin: 0 auto;
  }

  h2 {
    text-align: center;
    font-size: 2.618rem;
    font-weight: 700;
    margin-bottom: 100px;
  }

  h3 {
    font-size: 1.618rem;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .usp-elem {
    max-width: 400px;
    margin: 0 auto 50px;



    .usp-icon {
      width: 35px;
      height: 35px;
      margin-bottom: 30px;
      background: $sgrid-color;
    }

    p {
      color: $sub-text-color;

    }
  }

}

.image-frame {
  position: relative;
  min-height: 400px;
  overflow: hidden;


  .image-container {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    img {
      min-width: 100%;
    }
  }
}

//Modal














