html {
  font-size: $base-font-size;
}

body {
  font-family: Heebo, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $main-black;
  font-size: 1rem;
  letter-spacing: 0.02rem;
}

html,body {
  overflow-x: hidden;
}

h2 {
  font-size: 4.236rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.03em;
  margin-bottom: 30px;
}

h3 {
  font-size: 2.618rem;
  letter-spacing: -0.025em;
}


h4 {
  font-size: 1.618rem;
  line-height: 1.5;
  color: $sub-text-color;
  letter-spacing: -0.02rem;
}

h5 {
  font-size: 1rem;
  color: #7B7B7B;
}

.hidden {
  display: none !important;
}

.mobile-only {
  display: none;
}

.highlight {
  color: $sgrid-color !important;
}

.font-bold {
  font-weight: 700;
}

section {
  margin: 150px 0;
}

.bg-feature video{
  max-width: 100%;
  min-width: 100%;
}

#page-header {
  margin: 100px 0;
  .page-iln {
    width: 400px;
    height: 200px;
    background: $sgrid-color;
    margin: 0 auto 80px;
  }

  h2 {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

#usp {
  margin: 200px 0;
  .text-content {
    max-width: 1000px;
    margin: 0 auto;
  }

  h2 {
    text-align: center;
    font-size: 2.618rem;
    font-weight: 700;
    margin-bottom: 100px;
  }

  h3 {
    font-size: 1.618rem;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .usp-elem {
    max-width: 400px;
    margin: 0 auto 50px;



    .usp-icon {
      width: 35px;
      height: 35px;
      margin-bottom: 30px;
      background: $sgrid-color;
    }

    p {
      color: $sub-text-color;

    }
  }

}

.image-frame {
  position: relative;
  min-height: 400px;
  overflow: hidden;


  .image-container {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    img {
      min-width: 100%;
    }
  }
}

//Client List
#client-list {
  padding: 30px 0 0;
}

#success-msg {
  .h-bar {
    background: $primary-gradient;
  }
  margin: 0;
  .container {
    padding: 25px 20px;
  }


  z-index: 1002;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4a4a4a;

  h3 {
    font-size: 1rem;
    margin: 0;
    color: white;
    opacity: 0.8;
    font-weight: 700;
  }
}

a.form-success-close {
  display: inline-block;
  position: fixed;
  bottom: 10px;
  right: 20px;
  height: 60px;
  width: 60px;
  padding: 20px;
}

.social-icon {
  opacity: 0.8;
  max-width: 40px;
  display: inline-block;
  padding: 10px;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}







