// Extra large devices (large desktops)
@media (min-width: 1199.98px) {

  //Home
  #home-page {
    #intro {
      margin-bottom: 100px;
    }

  }

}

// Large devices (desktops, less than 1200px)
@media (min-width: 991.98px) and (max-width: 1199.98px) {
  //Common
  .lg-only {
    display: block;
  }

  #home-page {
    #home-header-iln {
      position: relative;
      min-height: 500px;
      margin-top: 220px;
      img {
        right: -70px;
        transform: scale(1.5);
      }
    }
    #intro {
      margin-bottom: 0px;
    }
  }
}

@media (min-width: 0) and (max-width: 991.98px) {
  #home-page {
    #services-projects {
      .special-feature .spl-iln {
        width: 260px;
      }

      .text-content {
        margin-bottom: 50px;
      }
      .content-column {
        padding: 0 30px;
      }
      .metric-boxes {
        margin-top: 100px;
      }
      .mobile-btns {
        margin-bottom: 100px;
      }
      a.text-btn-sm.mobile-only {
        display: block;
        padding: 20px;
        text-align: center;
        font-size: 2.618rem;
        border: none;
        letter-spacing: -0.123rem;
      }
    }
  }

  #about-page {
    .bg-feature.video-block {
      min-height: 300px;
    }
    #ceo-word {
      .content-box {
        padding: 40px 0;
        border-bottom: none !important;
      }
    }
    #usp {
      h2 {
        max-width: 500px;
        margin: 0 auto 60px;
        padding: 0 30px;
      }
    }
  }

  //  Services Page
  #services-page {
    #innovation {
      .illustration {
        bottom: 0;
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 767.98px) and (max-width: 991.98px) {

  //Common
  .lg-only {
    display: none;
  }

  #intro .intro-text {
    margin-top: 0;
  }
  nav {
    .nav-menu .lg-only {
      display: block !important;
    }
  }

  //home
  #home-page {
    #home-header-iln {
      position: relative;
      min-height: 500px;
      margin-top: 0;

      img {
        transform: scale(1.1);
        right: 100px;
        width: 75%;
      }
    }
    #intro {
      margin-bottom: 100px;
    }
  }

  .bg-feature.video-block {
    video {
      min-width: 125%;
    }
  }

  #client-list {
    img#lg-clients {
      display: block !important;
    }
  }

}

// Small devices (landscape phones, less than 768px)
@media (min-width: 575.98px) and (max-width: 767.98px) {
  html {
    font-size: $tablet-font-size;
  }

  .mobile-only {
    display: block;
  }

  .lg-only {
    display: none;
  }
  //Contact
  #map .map-container .contact-details .ct-column:nth-of-type(1) {
    padding: 0;
  }

  //  Home page

  #home-page {
    section#intro {
      margin-bottom: 100px;
    }
    .intro-text {
      margin-bottom: 50px;
    }
    #home-header-iln {
      min-height: 300px;
      img {
        right: 120px;
        width: 60%;
      }
    }

    .bg-feature.video-block {
      video {
        min-width: 175%;
      }

    }

    #next-gen {
      h2 {
        font-size: 2.618rem;
        margin-bottom: 50px;
        max-width: 400px;
        padding: 0 20px;
      }
    }
    #services-projects {
      .text-content {
        margin-bottom: 50px;
      }
      .content-column {
        padding: 0 30px;
      }
      .metric-boxes {
        margin-top: 100px;
      }

      .special-feature .content-box {
        max-width: 400px;
        margin: 0 auto;
        text-align: center !important;

        .spl-iln {
          background: none;
          height: auto;
          width: 400px;
          margin: 0 auto !important;
        }
      }

    }
  }

  //About Page
  #about-page {
    .bg-feature.video-block {
      min-height: 400px;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 0px) and (max-width: 575.98px) {
  html {
    font-size: $tablet-font-size;
  }
  .lg-only {
    display: none;
  }

  .container {
    padding: 0 30px;
  }

  nav.scrolled .nav-menu {
    top: 20px !important;
  }

  .mobile-only {
    display: block;
  }

  .lg-only {
    display: none;
  }

  //Contact
  #map .map-container .contact-details .ct-column:nth-of-type(1) {
    padding: 0;
  }

  //Projects
  #projects-page {
    #page-header {
      h2 {
        max-width: 400px;

      }

    }
    #projects {
      padding: 0 20px;
      h2 {
        width: 100%;
        text-align: center;
      }

      .project-text {
        border-left: none;
        border-top: 10px solid #F27123;
      }
    }
  }

  //  Home
  #home-page {
    #home-header-iln {
      margin-top: 0;
      min-height: 300px;
      img {
        right: 50px;
        width: 75%;

      }
    }

    .bg-feature {
      overflow: hidden;
      min-height: auto;

      .content-box {
        padding: 100px 20px;
      }

      .background-image {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        video {
          max-width: 220%;
        }
      }

      h3 {
        font-size: 2rem;
      }

    }

    #intro {
      margin-bottom: 150px;
    }

    #services-projects {
      a.text-btn-sm {
        padding: 20px 0;
        font-size: 1.618rem !important;
        letter-spacing: -0.08rem !important;
      }
    }

    .special-feature {
      .spl-feat-block {
        margin: 30px 0;
      }
      .content-box {
        max-width: 400px;
        margin: 0 auto;
        text-align: center !important;

        .spl-iln {
          background: none;
          height: auto;
          width: 400px;
          margin: 0 auto 0px;

          &.innovation img {
            transform: scale(0.8);
          }

        }
      }
    }
    #next-gen h2 {
      font-size: 2.618rem;
      margin-bottom: 50px;
      max-width: 400px;
      padding: 0 20px;
    }
  }

  //About Page

}

