$base-font-size: 18px;
$tablet-font-size: 16px;
$mobile-font-size: 14px;

$sgrid-color: #F27123;
$std-black: #030303;
$dark-bg-color: #000419;


//Fonts
$main-black: $std-black;
$sub-text-color: #4E4E4E;
$text-btn-color: #747474;