.std-btn {
  display: inline-block;
  background-color: $sgrid-color;
  color: $std-black;
  padding: 20px 25px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: .15em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;

  &:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
  }
}

.text-btn {
  text-transform: uppercase;
  color: $text-btn-color;
  font-size: 1.618rem;
  font-weight: 700;
  letter-spacing: -0.025rem;
}

.text-btn-sm {
  color: $text-btn-color;
  font-size: 1.618rem;
  font-weight: 700;
  border-bottom: 2px solid $sub-text-color;
  letter-spacing: -0.025rem;
  opacity: 0.6;


  &:hover {
    opacity: 1;
    color: $sgrid-color;
    text-decoration: none;
    border-bottom: 2px solid $sgrid-color;

  }
}

.next-icon {
  img {
    width: 14px;
    position: relative;
    bottom: 1px;
    margin-left: 10px;
    opacity: 0.6;
  }
}