.bg-feature {
  position: relative;
  min-height: 500px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.50);
  margin-bottom: 0;
  .content-box {
    position: relative;
    padding: 180px 20px;
    text-align: center;
    color: #F0F0F0;
    z-index: 800;
    h3 {
      font-weight: 700;
      margin-bottom: 30px;
    }
  }
  .background-image {
    position: absolute;
    z-index: -1;
    width: 100%;

    img {
      min-width: 100%;
    }

  }

  .std-btn {
    margin-right: 30px;
  }
}

.h-box {
  width: 100px;
  height: 8px;
  background: $sgrid-color;
  margin: 0 auto 40px;
}

.h-bar {
  height: 8px;
  background: $sgrid-color;
}

#feat-img-center {
  margin: 100px 0;
  .feature-img {
    max-width: 1000px;
    margin: 200px auto;
    height: 400px;
    padding: 0 40px;
    background: gray;
  }
}

#partner-cta, .bg-feature {
  margin: 0;
  background: none;

  .text-content {
    h3,h4 {
      color: white;
      opacity: 0.9;
      margin-bottom: 20px;
    }


  }

  h3 {
    font-weight: 700;
  }

  h4 {
    margin-bottom: 40px !important;
  }

  .text-content {
    padding: 150px 20px 130px;
    max-width: 1090px;
    margin: 0 auto;
  }
}