#bg-feature {
  min-height: 500px;
  background: black;
  .content-box {
    padding: 180px 20px;
    text-align: center;
    color: #F0F0F0;
    h3 {
      font-weight: 700;
      margin-bottom: 30px;
    }
  }
}

.h-box {
  width: 100px;
  height: 8px;
  background: $sgrid-color;
  margin: 0 auto 40px;
}

.h-bar {
  height: 8px;
  background: $sgrid-color;
}

#feat-img-center {
  margin: 100px 0;
  .feature-img {
    max-width: 1000px;
    margin: 0 auto;
    height: 400px;
    padding: 0 40px;
    background: gray;
  }
}

#partner-cta {
  background: #727272;
  margin: 0;

  h3 {
    color: #393939;
    font-weight: 700;
    margin-bottom: 30px;
  }

  a {
    font-size: 2.618rem;
    font-weight: 700;
    color: #FFFFFF;
  }
  .text-content {
    padding: 150px 20px;
    max-width: 1090px;
    margin: 0 auto;
  }
}