footer {
  .contact-cta {
    padding: 200px 0;
    background: $dark-bg-color;
    color: white;
    text-align: center;

    .text-content{
      max-width: 700px;
      margin: 0 auto;
    }

    h3 {
      font-weight: 700;
      margin-bottom: 20px;
    }


    .btn-container {
      padding: 50px;
    }

    .text-btn-sm {
      display: block;
      margin: 20px 0;
      color: white;
      opacity: 0.8;

    }
  }

  .foot-bar {
    text-align: center;
    .foot-links {
      padding: 30px;
    }
    .foot-link {
      text-transform: uppercase;
      font-weight: 700;
      text-decoration: none;
      padding: 5px 20px;
    }

    p {
      font-size: 14px;
      margin-bottom: 30px;
      color: $sub-text-color;
    }
  }
}