footer {

  .footer-nav {
    .nav-elem {
      color: white;
      padding: 10px 20px;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }

  }

  .contact-cta {
    padding: 50px 0 20px;
    background: $dark-bg-color;
    color: white;
    text-align: center;

    .text-content{
      max-width: 700px;
      margin: 0 auto;
    }

    h3 {
      font-weight: 700;
      margin-bottom: 20px;
    }


    .btn-container {
      padding: 50px 0 0 0;
    }

    .text-btn-sm {
      display: block;
      margin: 20px 0;
      color: white;
      opacity: 0.8;

    }
  }

  .foot-bar {
    padding: 10px 0;
    text-align: center;
    .foot-links {
      padding: 10px 0;
    }
    .foot-link {
      color: $sub-text-color;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: 700;
      text-decoration: none;
      padding: 5px 20px;
      transform: scale(0.8);

      &:hover {
        color: $sgrid-color;
        text-decoration: none;
      }
    }

    p {
      font-size: 14px;
      padding-bottom: 30px;
      margin-bottom: 0;
      color: $sub-text-color;
    }
  }
}

.footer-social {
  padding-top: 10px;
}